#header {
    width: 1500px;
    min-height: 180px;
    background: aqua;
    margin-bottom: 10px;
}
.content {
    display: flex;
    width: 1500px;
    column-gap: 10px;
}
#menu {
    background: darkorchid;
    min-height: 300px;
    width: 500px
}
#posts {
    width: 1000px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;

}
.post {
    background: cornflowerblue;
    min-height: 150px;
    width: 1000px;
}
#footer {
    width: 1500px;
    min-height: 180px;
    margin-top: 10px;
    background: blueviolet;
}