body {
    margin: 0;
}
div {
    font-family: Tahoma;
    font-size: 35px;
    color: gray;
    text-align: center;
   }
.a{
    background: beige;
    width: 90%;
    min-height: 150px;
}
.content {
    width: 90%;
    display: flex;
    margin-top: 10px;
    }
.b {
    background: burlywood;
    width: 65%;
    min-height: 150px;
    margin-right: 5px;
}
.c {
    background: antiquewhite;
    width: 35%;
    min-height: 150px;
    margin-left: 5px;
}